@import url("https://fonts.cdnfonts.com/css/freesans");
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  min-height: fit-content;
  background-color: #8C8D85;
}