@import '../variables';
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    // position: fixed; bottom: 0; left: 0; right: 0;
    margin-top: 1px;
    min-height: fit-content;
    background-color: $bg;
}