
.footer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0, auto;
  margin-top: auto !important;
  min-height: fit-content;
  background-color: #DBDBDB;
  /* position: relative;  */
  bottom: -15rem;
}

.footer p {
  max-width: 40vw;
color: #7e7e77;
}

.footer p {
  max-width: 65vw;
  color: #7e7e77;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.logo-container {
  position: relative; /* Make the container relative for absolute positioning */
  width: 40vw; /* Adjust the width as needed */
  height: 40vh; /* Adjust the height as needed */
  overflow: hidden; /* Hide overflow content */
}

.logo {
  width: 100%; /* Full width within container */
  height: 100%; /* Full height within container */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect for logo */
}

.logo-container:hover .logo {
  transform: translateX(-100%); /* Move the logo to the left on hover */
}

.roll {
  position: absolute;
  top: 0;
  left: 100%; /* Initially positioned outside the container */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container:hover .roll {
  left: 0; /* Move the text back to its original position on hover */
  opacity: 1; /* Show the text on hover */
}