.navbar {
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 999;
  background-color: #d8d8d8;
  height: 5vh;
  padding-bottom: 0;
}

.navbar-container {
  background-color: rgba(140, 141, 133, 0);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5vh;
  width: 100%; 
  position: relative;
  left: calc( 17.5vw - 2.5rem );
  }

.fa-typo3 {
  color: #000;
  z-index: 9999;
  margin-left: 0.5rem;
  font-size: 2vw;
  position: relative; 
  top: -2vh; 
  }

.nav-menu {
  display: flex;
  grid-gap: 15px;
  list-style: none;
  text-align: left;
  justify-content: flex-start;
  position: relative;

/* .nav-menu ul  */
padding-inline-start: 0 !important;
}
.navline-div {
  position: absolute;
  top: 100%; 
  box-sizing: border-box;
  width: 100%;
  height: 2px; 
  background-color: #18aa00; 
  }

  .mline {
    z-index: 3333;
    position: fixed;
    left: 12.5vw;
    top: 340px; 
    box-sizing: border-box;
    width: 1440px;
    height: 3px; 
    background-color: red;
    display: none;
    justify-self: center;
    align-self: center;
    }


    .nline {
      z-index: 3333;
      position: fixed;
      left: 17.5vw;
      top: 45px; 
      box-sizing: border-box;
      width: 1440px;
      height: 3px; 
      background-color: blue;
      display: flex;
      justify-self: center;
      align-self: center; 
      }
  
      .lline {
        z-index: 333;
        position: fixed;
        right: 17.5vw;
        top: 34px; 
        box-sizing: border-box;
        width: 1440px;
        height: 3px; 
        background-color: yellow;
        display: flex;
        justify-self: center;
        align-self: center; 
        }
  
      
.nav-links {
  color: #000;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  padding: .2rem 1.64rem;
  font-size: 1.2rem;
  position: relative;
  white-space: pre !important; 
}


.first-letter-white {
  color: #18aa00;
/* white-space: pre !important;  */
}

.nav-links:hover,
.nav-links.clicked  {
  color: #18aa00;
  text-decoration: none;
}
 
/* Style submenu links with href */
.submenu-link {
  text-decoration: none;
  color: #000; 
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.submenu-link:hover {
  color: #18aa00;
  text-decoration: none;
}

/* Style plain submenu items without href */
.submenu-item {
  color: #333; 
  font-size: 1.3rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.submenu-item:hover {
  background-color: #f2f2f2; 
  
}


.submenu-parent:hover .dropdown {
  display: block;
}
/* .dropdown */


.dropdown {
  position: absolute;
  /* right: 0; */
  top: 1vh;
  /* left: auto; */
    /* font-size: 0.875rem; */
  z-index: 9999;
  min-width: 8rem;
  min-height: 4rem;
  padding: 1.6rem 0.8rem;
  list-style: none;
  background-color: #d8d8d8;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  /* top: -7px; */
}

/* end.dropdown */

.fa-bars {
  color: #000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.line-div {
  border-top: 1px solid #000;
  position: absolute;
  top: 85%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .NavbarItems {
    position: relative;
  }
  .navbar{max-width: 100% !important;}
  .navbar-container {
    left: 0;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -130%;
    opacity: 1;
    z-index: 998;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: darkgray;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 888;
  }
  .nav-item {
    height: 50px;
  }
  .nav-links {
 
    text-align: center;
    /* padding: 1rem; */
    width: 100%;
    display: table;
  }
  .nav-links:hover {
     background-color: white;
    color: #242424; 
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2rem;
    cursor: pointer;
  }

.fa-typo3 {
  margin-left: 2.2rem;
  font-size: 2vw;
  position: relative; 
  top: -25px; 
  
}
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: black;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}