

/* For larger screens (desktop) */

@media screen and (min-width: 1200px) {

  .about {
    /* position: relative; */ 
    display: block;
    /* flex-direction: column;
    align-items: center; */
    }
    .one {
      height: 80vh;
      font-size: 1.1rem;
      /* letter-spacing: 1.1px; */
        margin-left: 17.5vw;
        margin-right: 17.5vw;
        margin-top: 1vh;
          }
    .one li {
      list-style-type: none;
      }
      .one li p {margin-bottom: -.1rem;}
      .one li span{color: #000;}
      
    
    .two {
      height: 50%;
      width: 65%;
      margin-left: 17.5%;
      margin-right: 17.5%;
    }

.about1 {
  position: relative;
}    
.about1 img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    z-index: 0
}
.aboutxt1{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 25vw;
    color: white;
    text-align: left;
    font-size: 60px;
    z-index: 33;
}
      
.about2 {
  position: relative;
}    
.about2 img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    z-index: 0
}
.aboutxt2{
    position: absolute;
    bottom: 0%;
    left: 1%;
    width: 25vw;
    color: white;
    text-align: left;
    font-size: 60px;
    z-index: 33;
}
    
      .three {
        height: 80vh;
        /* font-size: 1.7rem; */
        width: 35%;
        margin-left: 47.5%;
        margin-right: 17.5%;

        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        /* line-height: 160%; */
        letter-spacing: 0.01375rem;
      }
    
    
      .four {
        height: 80vh;
        background-color: #8c8d85;
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
      }
      
      .five {
        height: 80vh;
        font-size: 1.1rem;
        width: 35%;
        margin-left: 17%;
        margin-right: 47%;
      padding-left: 1%;
      }

      .six {
        color: #000;
        height: 30vh;
        font-size: 1.7rem;
        width: 60%;
        margin-left: auto;
    }
    .six p {
    margin-top: 2rem;
margin-bottom: 2rem;
    line-height: 160%;
    }}

/* tableti */
@media screen and (min-width:768px) and (max-width:1200px)

{
.naslov-container {
  display: block;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.naslov-container h1 {
  font-size: 5rem !important;
  display: block;
}
.about1 {

  position: relative;
  width: 90%;
  height: 90%;
}  
.about2 {

  position: relative;
  width: 90%;
  height: 90%;

}  
.about1 img,
.about2 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  left: 0;
}
.about2 img {
  background-color: #8c8d85;
}
.aboutxt1 {
  position: absolute;
  top: 3rem; 
  left: 3rem;
  color: #fff;
  z-index: 443;
  font-size: 2rem !important; 
}

.aboutxt2 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  color: #fff;
  z-index: 44;
  font-size: 2rem !important;
}
.three,
.five {
  height: 80vh;
  font-size: 1.1rem;
  width: 85%;
  margin-left: 1%;
  margin-right: 14%;
padding-left: 1%;
}

}

/* For mobile devices */
@media screen and (max-width: 768px) {

.gallery {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

  .one,
  .two, 
  .three,
  .four,
  .five,
  .six {
    font-size: 1rem; 
    max-width: 90% !important; 
    margin-left: 5%;
    margin-right: 5%;
  }


.naslov-container {
  display: block;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.naslov-container h1 {
  font-size: 3rem;
  display: block;
}

  .one li p {
    margin-bottom: -0.1rem;
  }

  .one li span {
    color: #000;
  }

  .about1 {

    position: relative;
    width: 90%;
    height: 90%;
  }  
  .about2 {

    position: relative;
    width: 90%;
    height: 90%;

  }  
  .about1 img,
  .about2 img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    left: 0;
  }
  .about2 img {
    background-color: #8c8d85;
  }
  .aboutxt1 {
    position: absolute;
    top: 3rem; 
    left: 3rem;
    color: #fff;
    z-index: 443;
    font-size: 2rem !important; 
  }

  .aboutxt2 {
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #fff;
    z-index: 44;
    font-size: 2rem !important;
  }
}
/* 
how can i make this 'about' page in mobile mode conform to screen width + 5% margins? */