/* 
font-family: Helvetica Neue;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 160%; 35.2px 
letter-spacing: 1.1px;
 */
.about {
/* position: relative; */
width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}
.one {
    height: 140vh;
    font-size: 22px;
    letter-spacing: 1.1px;
    margin-left: 5vw;
      }
.one li {
  list-style-type: none;
  }
  .one li p {margin-bottom: -.1rem;}
  .one li span{color: #000;}
  

.two {
    height: 140vh;
  }


  .three {
    height: 140vh;
    font-size: 22px;
    width: 50%;
    margin-left: auto;
  }


  .four {
    height: 140vh;
    background-color: #8c8d85;
  }
  .five {
    height: 140vh;
    font-size: 22px;
    width: 50%; top: 0;
    margin-right: auto;
  padding-left: 1vw;
  }
  .six {
color: #000;
    height: 140vh;
    font-size: 22px;
    width: 50%;
    margin-left: auto;
}
.six p {
margin-top: 2rem;
  line-height: 160%;
}