

/* For mobile devices */
@media screen and (max-width: 768px) {

  .one,
  .two, 
  .three,
  .four,
  .five,
  .six {
    font-size: 16px; 
    width: 90%; 
    margin-left: 5%;
    margin-right: 5%;
  }


  .one li p {
    margin-bottom: -0.1rem;
  }

  .one li span {
    color: #000;
  }
    
}

/* For larger screens (desktop) */
@media screen and (min-width: 769px) {

  .about {
    /* position: relative; */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .one {
      height: 100vh;
      font-size: 1.3rem;
      /* letter-spacing: 1.1px; */
        margin-left: 17.5vw;
        margin-right: 17.5vw;
        margin-top: 1vh;
          }
    .one li {
      list-style-type: none;
      }
      .one li p {margin-bottom: -.1rem;}
      .one li span{color: #000;}
      
    
    .two {
      margin-left: 17.5vw;
      margin-right: 17.5vw;
       height: 100vh;
      }
    
    
      .three {
        height: 100vh;
        /* font-size: 1.7rem; */
        width: 50%;
        margin-left: auto;

font-size: 1.2rem;
font-style: normal;
font-weight: 400;
/* line-height: 160%; */
letter-spacing: 0.01375rem;
      }
    
    
      .four {
        height: 100vh;
        background-color: #8c8d85;
      }
      .five {
        height: 100vh;
        font-size: 1.3rem;
        width: 60%; top: 0;
        margin-right: auto;
      padding-left: 1vw;
      }
      .six {
    color: #000;
        height: 30vh;
        font-size: 1.7rem;
        width: 60%;
        margin-left: auto;
    }
    .six p {
    margin-top: 2rem;
margin-bottom: 2rem;
    line-height: 160%;
    }}
