
/* For mobile devices */
@media screen and (max-width: 768px) {
      
.contact {
      font-size: 16px; /* Adjust font size for smaller screens */
      margin-left: 5%; /* Adjust margin for smaller screens */
      margin-right: 5%; /* Adjust margin for smaller screens */
      margin-top: 5vh;
      width: 90%;
    }
  }
  
  
  /* For larger screens (desktop) */
  @media screen and (min-width: 769px) {
  

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 30px;  */
    /* position: relative;  */
    }
  .un {
    font-size: 1.6rem;
    /* letter-spacing: 1.1px; */
    margin-left: 17.5vw;
    margin-right: 17.5vw;
    margin-top: 5vw;
    max-width: 75vw;
  }

  .gren {
    background-color: green;
    height: 3px;
    /* width: 100vw; left: -1.5vw; */
    display: block;
    box-sizing: border-box;
    /* position: absolute;  right: 12.5; */
  }}