@import '../variables';

.home {
  position: relative;
  max-width: 100%;
}

.section1 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section2 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section3 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section4 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section5 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section6 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.section7 {
  position: relative;
  height: 100vh;
  display: flex;
  margin-left: 2vw;
}

.image {
    object-fit: fill;
    width: 100%;
    height: 75vh;
    position: absolute; top: 20vh;
    z-index: 1;
  }
.animateImg {
  animation-duration: .5s;
  animation-name: move-up;
  animation-fill-mode: forwards;
}
@keyframes move-up {
  0% { top: 10vh;}
  25%{top: 0vh;}
  50%{top: -10vh;}
  75%{top: -30vh;}
  100% {position: fixed; top: -55vh}
};
  
  .img-container {
    margin-top: 10vh;
    height: 75vh;
    width: 100%;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: fill;
  }
  
  .vozi {
    color: #fff;
    font-size: 130px;
    z-index: 100;
    position: absolute; top: 25vh;
right: 35vw;
  }
 
  .aepali {
    color: #fff;
    font-size: 130px;
    z-index: 100;
    position: absolute;
    top: 40vh;
    right: 35vw;
  }
  
  .animateAepali {
    animation-duration: .5s;
    animation-name: move-down;
    animation-fill-mode: forwards;
  }
  @keyframes move-down {
    0% {top: 40vh;}
    25%{top: 60vh;}
    50%{top: 80vh;}
    100% {display: none;}
  }
  
  .img-container > p {
    position: absolute;
    top: 90vh; 
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bg;
    color: #fff;
    z-index: 3;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    }

  .line-div {
    border-top: 2px solid white;
    position: absolute;
    margin-top: -6vh;
    box-sizing: border-box;
    width: 100%;
    height: 0.6rem;
  }

.about {
  // position: absolute; top: 100vh;
  display: flex;
  padding-left: 10vh;
  // margin-right: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: $bg;
  color: #fff;
  font-size: 30px;
}
.about > ul {
  color: #000;
  list-style: circle;
}

.aboutright {
  position: absolute; top: 15vh; 
  left: 25vw;
  z-index: 10;
  font-size: 30px;
  width: 70vw;
}

.aboutleft {
  position: absolute; top: 15vh; 
  right: 25vw;
  z-index: 10;
  font-size: 30px;
  width: 70vw;
}


.homeimg {
// position: absolute;
  margin-left: 10vw;
  margin-top: 15vh;
  width: 86vw;
}

.textinimg {
  position: absolute; bottom: 15vh; 
  right: 15vw;
  z-index: 10;
  font-size: 30px;
  width: 60vh;
}
 
.Titleinimg {
  position: absolute; 
  right: 35vw;
  bottom: 0;
  z-index: 20;
  font-size: 80px;
  width: 60vh;
}
.footer {
  position: absolute; bottom: 0;

}

  @media screen and (max-width: 960px) {
    .home-container > h1 {
      font-size: 70px;
      /* margin-top: auto; */
    }
  }
  
  @media screen and (max-width: 768px) {
    .home-container > h1 {
      font-size: 50px;
      /* margin-top: auto; */
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
}