.home {display: block;
}
/* Set max-width for containers to prevent overflow */
.cont0, .S1, .S2, .S3 {
  max-width: 100%;
}

/* Set max-width for specific containers if needed */
.cont2, .cont3 {
  max-width: 100%; /* Adjust as needed */
}


.cont0 {
display: flex;  
justify-content: center;
height: 33rem;
/* flex-shrink: 0; */
/* padding-left: 5vw; */
}
.vozi {
  /* display: flex; */
   color: #fff;
  font-size: 9.6875rem;
  width: 80rem;  z-index: 3;
  position: absolute; top: 25vh;
  display: flex;
  justify-content: center;
  
font-weight: 400;
line-height: 140%; 
letter-spacing: 0.53281rem;
}

.pali {
  color: #fff;
  font-size: 9.6875rem;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80rem;  z-index: 3;
    top: 50vh;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 13.5625rem */
letter-spacing: 0.53281rem;
}
.podnaslov {
  position: absolute;
  width: 90vw;  z-index: 3;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  bottom: 2vh;
}

.line-div1 {
  border-top: 1px solid white;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
  margin-top: -0.40rem;
  z-index: 4;
}

.S1 {
  padding-top: 50vh;
  padding-bottom: 10vh;
  margin-left: 5vw;
  margin-right: auto;
  width: 80vw; 

  font-size: 2.2rem;
  color: #7e7e77;
}

.img-container {
  position: relative;
  max-width: 95vw;
  padding-left: 5vw;

}
/* ... Other CSS rules ... */

.img2 {
  position: relative; 
  width: 100%;
  object-fit: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
}

.img3 {

  padding-left: 5vw;
  position: absolute;
  bottom: -42vh;
  left: 0;
  width: 50%; 
  height: auto;
}

.txt3 {
  font-size: 1.7rem;
  color: #7e7e77;
  position: absolute;
  bottom: -152vh; 
  left: 55%; 
  width: 40%;
  margin-left: 1vw;
  margin-right: 4vw;
  text-align: left;
}

.txt3 div{
  padding-top: 10vh;
}

.S2 {
  /* position: relative;  */
  height: 55.2rem;
  align-items: center;
}

 .cont2 {
  position: relative;
  height: 55.2rem;
} 

.txt2 {
 font-size: 1.875rem;
  color: #fff;
  position: absolute;
  padding-right: 1rem;
  right: 0;
  text-align: left;
  z-index: 33;
  max-width: 40%;
  width: 100%;
  bottom: 10vh;
}
/* 
.S3 {
  height: 35rem;
  display: block;
} */

.cont3 {
  position: absolute;
  bottom: -28.5rem;
  margin-left: 10vw;
  height: 35rem;
  width: 45%;
}

.dno {
  position: relative;
  display: block;
  bottom: -75rem;
}
