
/* For larger screens (desktop) */
@media screen and (min-width: 1200px) {
.home {
display: block;
margin-left: 17.5%;
margin-right: 17.5%;
}

img {
  max-width: 100%;
}
section {
  margin-top: 4%;
  max-height: 95vh;
}
/* START */
  .S0 {
  padding-top: 2em;
  display: flex;
  }
  .zero {
    max-width: 65vw;
    width: 100%;
  }
  .zerog {
    width: 100%;
    margin-left: -100%;
  }
  .zeroTxt {
    display: flex;
    flex-direction: column;
    margin-left: -100%;
    justify-content: center;
    align-items: center;
  }
  .zeroTxtOne {
    color: #fff;
    font-size: 7.5vw;
    }
   .zeroTxtTwo {
      color: #fff;
      /* font-size: 10em; */
      z-index: 2;
    }
    .zeroTxtThree {
      color: #fff;
      font-size: 1.6rem;
      align-self: center;
      z-index: 3;
      margin-top: auto;
    }


.S1 {
  /* padding-top: 1%; */
  height: 95vh;
    font-size: 1.6rem;
    color: #7e7e77;
  display: flex;
flex-direction: column;
}
.S1 p {
  margin-top: auto;
  /* margin-bottom: 8vh; */
}  
  
.S2 {
  padding-top: 2em;
  display: flex;
  }
  .zero2 {
    min-width: 64.5vw;
    width: 100%;
  }
  .zerog2 {
    width: 100%;
    margin-left: -100%;
  }
   .txt2 {
    font-size: 1.3rem;
     color: #fff;
     text-align: left;
     z-index: 33;
     max-width: 35vw;
     width: 100%;
     margin-left: -30%;
     margin-top: auto;
    margin-bottom: 7%;
    }
   .txt2 p {
    margin: 0.5;
   }
   

 .S3 {
  height: 100vh;
 }
   .img3 {
    width: 100%;
max-width: 30vw;
    float: left; 
  }
  
  .txt3 {
    font-size: 1.1rem;
    color: #7e7e77;
    text-align: left;
    float: right;
  
  }
  .ena {
  width: 30vw;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.25rem */
  letter-spacing: 0.01875rem;
  }
  .dve {
  padding-top: 10vh;
  width: 35vw;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.01375rem;
  }
  
  .dve p {
    margin: 0;
  }
  
  .dve span {
    color: #fff;
  }
  
  .tli {
    padding-top: 10vh;
    width: 35vw;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01375rem;
    }
    
  .dno {
    display: block;
    padding-top: 1rem;
  }
  }

/* tableti */
@media screen and (min-width:768px) and (max-width:1200px)
{
.vozi, .pali {
  font-size: 5rem; 
  color: #fff;
  align-items: center;
  justify-content: center;
}
  .S1, .S2, .cont0, .txt2 .txt3, .img-container, .ena, .dve, .tli {
    font-size: 16px; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 5vh;
    width: 90%;
  }

  .img2 {
    position: absolute;
    width: 100%;
    clip-path: fill-box;
    left: 0px; 
  }
.txt2 {
  position: absolute;
  color: #fff;
  z-index: 6;
  left: 1rem;
  top: 60rem;
  width: 60%;
}
  .img3{
    position: absolute;
    z-index: 4;
    height: 40%;
    top: 152%;
    left: 0;
  }
.txt3 {
  position: absolute;
  top: 115rem;
}
.dno {
  position: absolute;
  top: 220%;
  max-width: 40%;
}

}
/* For mobile devices */
@media screen and (max-width: 768px) {
.vozi, .pali {
  font-size: 2.5rem; color: #fff;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 90vw; */
  /* margin-left: 5vw;
  margin-right: 5vw; */
}
.home{
  margin-left: 0;
  margin-right: 0;
}
  
  .S1,  .cont0 {
    font-size: 16px; 
    margin-left: 5%; 
    margin-right: 5%; 
    margin-top: 5vh;
    margin-bottom: 1rem;
    /* width: 90%; */
  }

  .S2, .cont2{
    margin-left: 0;
    margin-right: 0;
  }

  .img-container{ 
    height: 510px;
  }
  .img2 {
    width: 100%;
    height: 360px;
    overflow: hidden;
    left: 0px; 
    margin-left: 0;
    margin-right: 0;
  }
  .txt2 {
  position: relative;
  top: -25rem;
  color: #fff;
  z-index: 6;
  left: 1%;
  width: 90%;
}

.img3 {
  /* position: relative; */
    display: block;
    z-index: 4;
    width: 80%;
    margin-top: 0;
    left: 0;
  }

.txt3 {
  /* position: relative; */
  display: block;
  margin-top: 15px;
  padding-top: 1rem;
}

.dno {  
  top: -55rem;
}
.txt2 .txt3, .ena, .dve, .tli {
  font-size: 16px; 
  margin-left: 5%; 
  margin-right: 5%; 
  margin-top: 5vh;
  width: 90%;
}}

