.home {
  font-size: 30px;
}

.cont0 {
  position: relative;
}

.img0 {
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
  place-items: center;
  z-index: 0;
  height: 80vh;
}

.txt0 {
  text-align: center;
  z-index: 33;
  position: relative;
}

.vozi,
.aepali {
  color: #fff;
  font-size: 140px;
  z-index: 100;
  position: absolute;
  left: 20vw;
  bottom: 17.5rem;
}

.podnaslov {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;
  font-size: 30px;
  margin-top: 0.6rem;
}

.line-div1 {
  border-top: 1px solid white;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
  margin-top: -0.40rem;
  z-index: 4;
}

.S1 {
  font-size: 1.8rem;
  height: 80vh;
  padding-top: 20vh;
  padding-left: 4vw;
  white-space: pre-line;
}

.S2 {
  height: 80vh;
  align-items: center;
}

.cont2 {
  position: relative;
}

.img2 {
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  z-index: 0;
}

.txt2 {
  color: #fff;
  position: absolute;
  padding-right: 1rem;
  right: 0;
  text-align: left;
  z-index: 33;
  max-width: 53%;
  width: 100%;
  bottom: 30vh;
}

.S3 {
  height: 120vh;
  display: block;
}

.cont3 {
  position: relative;
  top: 28vh;
  min-height: 80vh;
  min-width: 50%;
}

.img3 {
  position: absolute;
  top: 39%;
  left: 0;
  width: 50%;
  height: auto;
  /* z-index: 999; */
}

.txt3 {
  position: absolute;
  top: 109%;
  left: 1vw;
  width: 50%;
  text-align: left;
}

.S4 {
  display: block;
  position: relative;
  height: 80vh;
  margin-top: 40vh;
}

.txt4 {
  width: 50%;
  position: absolute;
  right: 0;
}

.foo {
  display: block;
  position: absolute;
  top: 100vh;
}
