/* .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */
.icon {
  font-weight: 400;
  transform-origin: 10px 10px;
}

.custom-control-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  background-color: #DBDBDB;
  padding: 10px;
  position: static; /* Change to static positioning */
  top: auto; /* Remove top property */
  left: auto; /* Remove left property */
  width: 75vw; /* Set the width to 75vw */
  max-height: 10vh; /* Set the maximum height to 10vh */
  align-self: flex-start; /* Align it to the top of its containing element */
}

/* Styles for checkboxes and radio buttons */
#custom-map-controls input[type="checkbox"],
#custom-map-controls input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

/* Styles for the checked state of checkboxes and radio buttons */
#custom-map-controls input[type="checkbox"]:checked,
#custom-map-controls input[type="radio"]:checked {
  background-color: #007bff;
  border: 2px solid #007bff;
}

/* Styles for labels of checkboxes and radio buttons */
#custom-map-controls label {
  font-family: "Roboto Mono", monospace;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

/* Styles for buttons within .custom-control-container */
.custom-control-container button {
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  max-height: 40px; /* Adjust the maximum height as needed */
}

/* Styles for button hover state */
.custom-control-container button:hover {
  background-color: #0056b3;
  /* Add more styles as needed */
}
/* Styles for checkboxes in the second row */
#custom-map-controls input[type="checkbox"] {
  grid-column: auto; /* Reset grid-column */
  grid-row: 2; /* Place checkboxes in the second row */
}
/* Place radio buttons in the first row, one per column */
#custom-map-controls input[type="radio"] {
  grid-row: 1; /* Place in the first row */
  /* You can specify grid-column here if needed */
}


/* Place buttons in the third column */
#custom-map-controls button {
  grid-column: 5; /* Position buttons in the third column */
}
