/* .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  } */
  .icon {
    font-weight: 400;
    transform-origin: 10px 10px;
  }
  .custom-control-container {
    /* Set the container to use CSS grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* You can adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-items: center; /* Center items horizontally within each grid cell */
    background-color: #DBDBDB; /* Change the background color as needed */
    padding: 10px; /* Adjust padding as needed */
  }
  #custom-map-controls input[type="checkbox"],
#custom-map-controls input[type="radio"] {
  /* Customize checkbox and radio styles here */
  appearance: none; /* Remove the default styles */
  -webkit-appearance: none; /* For older versions of WebKit */
  background-color: #fff; /* Set the background color */
  border: 2px solid #007bff; /* Set the border color */
  border-radius: 4px; /* Round the corners */
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  margin-right: 5px; /* Add some spacing between the checkbox/radio and label */
  cursor: pointer; /* Show a pointer cursor on hover */

  /* Define styles for the checked state */
  &:checked {
    background-color: #007bff; /* Change background color when checked */
    border: 2px solid #007bff; /* Change border color when checked */
  }
}

#custom-map-controls label {
  /* Style the labels for checkboxes and radio buttons */
  font-family: "Roboto Mono", monospace; /* Set font family */
  color: #333; /* Set label text color */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Show a pointer cursor on hover */
}

  .custom-control-container button {
    /* Add styles for buttons within .custom-control-container */
    color: #000; /* Change button text color as needed */
    border: none; /* Remove button borders if not needed */
    padding: 5px 10px; /* Adjust padding as needed */
    cursor: pointer; /* Add cursor pointer on hover */
  }
  
  .custom-control-container button:hover {
    background-color: #0056b3; /* Change background color on hover */
    /* Add more styles as needed */
  }
  