
.gallery {
  background-color: #8C8D85;
}
/* photos.css */
.photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  padding-left: 3vw;
  padding-top: 3vw;
flex-direction: row;
}

/* Adjust the layout of other images as needed */
.photo {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  height: 150px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.photo.selected {
  max-width: 88vw; 
  max-height: 88vh; 
  width: auto;
  height: auto;
margin-top: 11.5vh;
}
.selected-div1 {
display: block;
  z-index: 222;
}
.selected-div2 {
  font-size: 18px;
/* right: 0; bottom: 2vh; */
z-index: 922;
  width: 88vw; 
justify-content: space-between;
/* margin-top: -3vh; */
align-items: baseline;
}


.photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: .6;
  z-index: 5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.photo:hover .overlay {
  opacity: 0;
}

/* CSS for the parent container */
.filters-container {
  display: flex; /* Use flexbox layout */
  width: 40%; /* Make the container 50% wide */
  justify-content: flex-start; /* Align items to the left */
  flex-wrap: wrap; 
  margin-bottom: 3vh;
  padding-left: 17vw;
padding-top: 10.4vh;
}
/* Style for each individual select */
.filters-container > div {
  flex: 1;
margin-right: 2vw;
}


  .naslov-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  justify-content: baseline;
  }
  .naslov-container h1 {
    letter-spacing: 11px;
    font-size: 140px;
    font-weight: 100;
    margin-top: -16vh;
    margin-bottom: -3vh;
  }
  .naslov-container p {
    /* letter-spacing: .4rem; */
    font-size: 18px;
    font-weight: 100;
 padding-left: 17vw;
 padding-right: 17vw;
 padding-top: 7vh;
}

.line-div0 {
  border-top: 1px solid white;
  position: absolute;
  top: 160px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  /* height: 0.6rem; */
}
.line-div1{
  border-top: 1px solid white;
  position: absolute;
  top: 300px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
}
.line-div2{
  border-top: 1px solid white;
  position: absolute;
  top: 430px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
}  
/* Media query to control layout for smaller screens */
@media (max-width: 768px) {
  /* Adjust layout for smaller screens, e.g., make each select full width */
  .filters-container > div {
    width: 100%;
    margin-right: 0; /* Remove margin for full width */
  }
}
