.cont{
    display: flex;
 }
 .image-wrapper {
   margin: auto;
   display: inline-block;
   align-items: center;
   position: relative;
 }
 .prev, .center,
 .next {
  color: #fff;
    cursor:pointer;
    position: fixed;
    bottom: 51vh;
     height: 8vh;
   width: 3vw;
    z-index: 9999;
 }
 .prev {
   left: 0vw;
 }
 .next{
   right: 0vw;
 }       
 #big-one {
   display: block;
 }
 .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
 }