
.gallery {
  background-color: #8C8D85;
}
/* photos.css */
.photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5vw;
  padding-left: 19vw;
  padding-top: 3vw;
flex-direction: row;
}

/* Adjust the layout of other images as needed */
.photo {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  height: 150px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.photo.selected {
  max-width: 88vw; 
  max-height: 88vh; 
  width: auto;
  height: auto;
margin-top: 11.5vh;
}


.selected-div2 {
  font-size: 18px;
/* right: 0; bottom: 2vh; */
z-index: 922;
  width: 88vw; 
justify-content: space-between;
/* margin-top: -3vh; */
align-items: baseline;
}


.photo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: .6;
  z-index: 5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.photo:hover .overlay {
  opacity: 0;
}

/* CSS for the parent container */
.filters-container {
  display: flex; /* Use flexbox layout */
  width: 100%; /* Make the container 50% wide */
  justify-content: flex-start; /* Align items to the left */
  flex-wrap: wrap; 
  margin-bottom: 3vh;
  /* padding-left: 17vw; */
padding-top: 10.4vh;
position: relative;
}
/* Style fo* Style for the select container */
.select-container {
  margin-left: 19vw;
  width: 50%;
  display: flex;
  justify-content: space-between; /* Add space between the selects */
  align-items: center; /* Center the selects vertically */
}

/* Style for each individual select within the select container */
.select-container select {
  flex: 1; /* Allow the selects to take equal width within the container */
  max-width: calc(50% - 1.5vw); /* Calculate the max width with spacing */
  margin-right: 3vw; /* Add right margin for spacing */
}


  .naslov-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  justify-content: baseline;
  position: relative;
  }
  .naslov-container h1 {
    letter-spacing: 10px;
    font-size: 141px;
    font-weight: 100;
    margin-top: -16vh;
    margin-bottom: -3vh;
padding-left: 4vw;  
}
  .naslov-container p {
    /* letter-spacing: .2rem; */
    font-size: 18px;
    font-weight: 100;
 padding-left: 19vw;
 padding-right: 14vw;
 padding-top: 7vh;
}

.line-div0 {
  border-top: 1px solid white;
  position: absolute;
  top: 21%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  /* height: 0.6rem; */
}
.line-div1{
  border-top: 1px solid white;
  position: absolute;
  top: 92%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  /* height: 0.6rem; */
}
.line-div2{
  border-top: 1px solid white;
  position: absolute;
  top: 96%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  /* height: 0.6rem; */
}  
/* Media query to control layout for smaller screens */
@media (max-width: 768px) {
  /* Adjust layout for smaller screens, e.g., make each select full width */
  .filters-container > div {
    width: 100%;
    margin-right: 0; /* Remove margin for full width */
  }
}
