/* @import url("https://fonts.cdnfonts.com/css/freesans"); */
.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .P1 {position: relative;} */
.proj1{
  max-width: 100%;
  height: auto;
}
.tekst1 {
   /* position: absolute; */
  top: 10vh;
  left: 10vh;
  flex-direction: column; 
  justify-content: center;
  /* background-color: #8C8D85; */
  color: #fff;
  font-size: 30px;
}
/* .P2 {position: relative} */
.proj2 {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.tekst2 {
  /* position: absolute; */
  top: 10vh; right: 10vh;
  flex-direction: column;
  justify-content: center;
  /* background-color: #8C8D85; */
  color: #fff;
  font-size: 30px;
  margin-bottom: 1vh;
}

