@import '../variables';


.projects-container{
    position: relative;
display: flex;

}

.tekst1{
    position: absolute; top: 10vh;
    display: flex;
    padding-right: 50vh;
    // margin-right: auto;
    flex-direction: column;
    justify-content: center;
    // width: 60vh;
    background-color: $bg;
    color: #fff;
    font-size: 30px;
  }


.tekst2{
    position: absolute; top: 120vh;
    display: flex;
    padding-left: 50vh;
    // margin-right: auto;
    flex-direction: column;
    justify-content: center;
    // width: 60vh;
    background-color: $bg;
    color: #fff;
    font-size: 30px;
  }