.kartxt {
/* margin-top: 40vh;
margin-bottom: 30vh; */
  margin-left: 17.5% !important;
    margin-right:  17.5% !important;
    width: 65%;
}

.markersList {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-width: 350px;
    margin: auto;
    color: salmon;
}
  
  .markerItem {
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid transparent;
  }
  
  .markerItem:hover {
    background-color: salmon;
    color: #000;
  }