
@import url('https://fonts.cdnfonts.com/css/freesans');

                
$FreeSans: "FreeSans", sans-serif;
$Helvetica: "Helvetica Neue";

// colors
$crn: #000000;
$beo: #fff;
// $primary: rgb(162, 162, 246);
$bg: #8C8D85;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}